annotated-types
anyio
appdirs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
curl_cffi
distro
exceptiongroup
Flask
Flask-Admin
Flask-SQLAlchemy
frozendict
greenlet
gunicorn
h11
html5lib
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
lxml
MarkupSafe
multitasking
numpy
openai
packaging
pandas
peewee
platformdirs
protobuf
pycparser
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
requests
six
sniffio
soupsieve
SQLAlchemy
ta
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
webencodings
websockets
Werkzeug
WTForms
yfinance
